 /* The Modal (background) */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .header {
    text-align: center;
    background-color: rgb(177, 146, 255);
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  h1 {
    margin: 0;
    color: white;
    font-family: Montserrat;
    font-size: 50px;
    flex: 1;
  }

  p {
    font-family: Montserrat;
    color: white;
  }

  textarea {
    width: 70%;
    height: 30px;
    font-family: Montserrat;
    text-align: center;
  }

  body {
    margin: 0;
  }

  .modal-button {
    background-color: rgb(177, 146, 255);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color: white;
    font-family: Montserrat;
    font-size: 19px;
    margin-left: 15px;
  }

  .modal-button:hover{
    background-color: rgb(142, 117, 205);
  }

  .task_list{
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
  }

  .logoutButton {
    background-color: rgb(247, 49, 49); 
    border-radius: 15px; 
    width: 100px;
    height: 50px; 
    border: 0;
    color: white;
    margin-left: auto !important;
    margin-top: 10px;
    margin-right: 10px;
  }

  .logoutButton:hover{
    background-color: rgb(218, 43, 43);
    cursor: pointer; 
  }