<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/default.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Your task tracker</title>
</head>
<body>
    <div id="header" class="header">
        <br>
        <button class="logoutButton" style="margin-left: auto;">Logout</button>
        <a href="/" style="text-decoration: none; width: fit-content;">
            <h1>
                Task tracker
            </h1>
        </a>
        <p style="padding: 3px; ">Whoopsie! Something went wrong!</p>
    </div>
    <div style="align-items: center; display: flex; flex-direction: column;">
        <p style="color: black; font-size: 50px; font-weight:bold ; margin-bottom: 0;">404</p>
        <p style="color: black; font-size: 50px; font-weight:bold ; margin-top: 0;">Page not found</p>
    </div>
</body>
</html>