<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/default.css">
</head>
<body>
    <div id="header" class="header">
        <h1>Task tracker</h1>
        <p style="padding: 3px;">This is simple task tracker. Click a button down below to add a new task to your tasks list.</p>
    </div>

    <button id="myBtn" class="modal-button">Open Modal</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>

    </div>
</body>
</html>