<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/default.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Your task tracker</title>
</head>
<body>
    <div id="header" class="header">
        <br>
        <h1>Task tracker</h1>
        <p style="padding: 3px;">This is simple task tracker. Click a button down below to add a new task to your tasks list!</p>
    </div>

    <div class="search_bar" style="display: flex; justify-content: center; align-items: center;">
        <img src="/static/loopa.png" width="16px" height="16px" style="padding-right: 5px; align-self: center;">
        <textarea id="search" placeholder="Type your task title to find it!" style="border-radius: 15px; resize: none; padding: 10px; padding-bottom: 0px;"></textarea>
        <button id="myBtn" class="modal-button" style="margin-left: 10px; border: 0;">Add task</button>
    </div>

    <div class="task_list" id="taskList">
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>
    </div>
    <script>
        let search = document.getElementById("search")
        search.addEventListener("input", () => {
            console.log(event.target.value)
        })
    </script>
    <script src="/static/script.js" defer></script>
</body>
</html>